{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "printWidth": 100,
        "semi": true,
        "singleQuote": false,
        "jsxSingleQuote": false,
        "arrowParens": "always"
      }
    }
  ]
}
